.login {
   display: flex;
   flex-direction: column;
   align-items: center;

   .login-header {

   }

   .login-img {
      height: 100px;
      width: 100px;
      margin: 50px 0 30px;
   }

   .login-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .login-content {
        margin: auto 10%;
          input, button {
            margin: 25px auto;
            width: 100%;

          }

          input {
            font-size: 14px;
          }
      }
   }
}
