@import '../../styles/variable.scss';

.base-btn {
  border: none;
  border-radius: 0.3em;
  min-width: 15em;
  min-height: 2.5em;
}

.btn {
  @extend .base-btn;
   background-color: $color-yellow;
}
