@import '../../../styles/variable.scss';

$img-size: 140px;

.ListItem {
  width: 100%;
  height: $img-size;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  line-height: 0.8;

  .img-wrapper {
    width: $img-size;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    img {
      max-width: $img-size;
    }
  }

  .item-info {
    width: 150px;
    height: 80%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .price {
      color: $color-orange;
    }

    img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    .owner, .buyer {
      display: flex;
      align-items: center;
      margin-left: -10px;
    }
  }

  div.mask {
    position: absolute;
    width: 100%;
    height: $img-size;
    background: $color-grey-4;
    opacity: 0.8;
  }
}
