@import './variable.scss';

.ico-close:before {
	content: '\2716'
}

.input {
  min-height: 30px;
  border: none;
  border-bottom: solid 1px $color-grey-3;
  font-size: large;
}

.base-btn {
  border: none;
  border-radius: 0.3em;
  min-width: 15em;
  min-height: 2.5em;
}

.btn {
  @extend .base-btn;
   background-color: $color-yellow;
}

.dis-btn {
  @extend .base-btn;
  background-color: $color-grey-5;
  color: $color-grey-3;
}
