$color-black: #000000;
$color-white: #FFFFFF;
$color-yellow: #FAE05E;
$color-orange: #EE5D29;
$color-grey: #D1D1D1;
$color-light-grey: #FAF7F7;

$color-grey-1: #A0A0A0;
$color-grey-2: #9D9D9D;
$color-grey-3: #CDCDC3;
$color-grey-4: #FCFAFA;
$color-grey-5: #F0F0F0;
