@import '../../../styles/variable.scss';

$img-size: 70px;

.Profile {
  display: flex;
  flex-direction: column;

  .Info {
    width: 80%;
    height: 100px;
    margin: 40px auto;
    box-shadow: 0 0 10px $color-grey-3;
    padding: 15px 0;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      width: $img-size;
      height: $img-size;
    }
  }

  p {
    margin: 30px 0;
  }

  button {
    width: 70%;
    height: 30px;
    background-color: $color-yellow;
    border: none;
    border-radius: 5px;
  }
}
