.image-upload {
  background-color: $color-light-grey;
}

.file-input {
  display: none;
}

.file-input-text {
  padding-top: 20px;
  color: grey;
}

.upload-image {
  height: 100px;
}

.preview-image {
  height: 200px;
}

.release-form {
  margin: 0 40px;
}

.product-name,
.product-price {
  margin-top: 40px;
}

.product-description {
  margin-top: 50px;
}

.product-description {
  width: 100%;
  min-height: 100px;
  border: 1px solid $color-grey;
}

.submit-button {
  width: 80%;
  margin-top: 50px;
  padding: 10px 0;
  background-color: $color-yellow;
  border: 0;
  border-radius: 5px;
}
