.pro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;

  .price:before{
    content: '\00a5';

  }

  .owner-name{
    img {
      width: 20px;
      height: 20px;
    }
  }
}
