@import '../../../styles/variable.scss';

.sign-up {
  justify-content: center;

	.avator {
		display: flex;
    width: 100%;
		justify-content: center;
		margin: 50px 0 30px;

		img {
			height: 100px;
		}
	}
  .username,
  .password,
  .confirm-password {
    margin: 25px 0;
  }

  .sign-up-content {
    margin: 0 10%;
  }

  .error-input {
    margin: 5px 0;
    color: red;
    font-size: 12px;

  }

	.signup-button {
    width: 100%;
    margin: 25px 0;
    &:focus {
      outline: 0;
    }
	}

}

